name: Build and run tests starter examples

on:
  push:
    branches: [ "master" ]
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  runExamples:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: intellij.tools.ide.starter.examples
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run tests
        working-directory: intellij.tools.ide.starter.examples
        run: ./gradlew clean build test
        env:
          LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
      - name: Store reports
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
      - name: Upload IDE test logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: '**/out/ide-tests/tests/**/log'
      - name: Notify in Slack in case of failure
        uses: slackapi/slack-github-action@v1.24.0
        if: ${{ failure() }}
        with:
          payload: |
            {
              "channel": "ij-starter-github-failures",
              "text": ":x: The workflow has failed on <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.event.head_commit.message }}>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  runPluginExamples:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: intellij.tools.ide.starter.examples.plugins
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run tests
        working-directory: intellij.tools.ide.starter.examples.plugins
        run: ./gradlew clean build test
        env:
          LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
      - name: Store reports
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
      - name: Upload IDE test logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: '**/out/ide-tests/tests/**/log'
      - name: Notify in Slack in case of failure
        uses: slackapi/slack-github-action@v1.24.0
        if: ${{ failure() }}
        with:
          payload: |
            {
              "channel": "ij-starter-github-failures",
              "text": ":x: The workflow has failed on <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.event.head_commit.message }}>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}